body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3ecd3; /* dark background */
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 450px;
  height: 550px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
a{
    text-decoration: none;
    color: black;
}
/* Upper box */
.upper-box {
  background: #cca8e9; /* light blue */
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
  font-size: 25px;
  text-align: center;
  color: #8a1253;
}

.profile {
  font-size: 22px;
  cursor: pointer;
}

.middle-text {
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.middle-text h2 {
  margin: 0;
  font-weight: normal;
  font-family: cursive;
}

/* Lower box */
.lower-box {
  background: #f2f2f2;
  text-align: center;
  padding: 15px;
  height: 275px;
}

.lower-box h2 {
  margin: 0;
  font-weight: normal;
  padding-top: 25px;
      font-family: cursive;

}

/* Responsive design */
@media (max-width: 400px) {
  .container {
    width: 95%;
  }
  
  .logo {
    font-size: 16px;
  }
  
  .profile {
    font-size: 18px;
  }
  
  .middle-text h2, .lower-box h2 {
    font-size: 18px;
  }
}