body {
  font-family: Arial, sans-serif;
  background: #f4f7f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.synergy-title {
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
  font-size: 25px;
  text-align: center;
  color: #118a7e;

  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0;

}

.signup-container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 360px;

}

.synergy-title {
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
  font-size: 25px;
  text-align: center;
  color: #118a7e;

  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0;

}

h2 {
  text-align: center;
  color: #333;
}

.input-div {
  margin-bottom: 15px;
  align-items: left;
}

.input-div:hover {
  border-color: #335637;
  align-items: left;
}

.input-div:hover {
  border-color: #335637;
}

.input-div label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.input-div input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border: 2px solid #ddeedf;
  border-radius: 5px;
}

.terms {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #333;
}

.register-btn {
  width: 100%;
  padding-top: 20px;
  padding: 12px;
  background: #118a7e;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  background: #118a7e;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.login-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.login-text a:hover {
  text-decoration: underline;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.login-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.login-text a:hover {
  text-decoration: underline;
}